<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/donayre.marco/"><%= image_tag "instaart.png", height: 50 %></i></a>
    <a href="https://www.facebook.com/donayremarco/"><%= image_tag "instaface.png", height: 50 %></a>
    <a href="#"><%= image_tag "instatwitter.png", height: 50 %></a>
  </div>
  <div class="marco">
    © Marco Donayre 2019
  </div>

  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> The Websy Co.
  </div>
</div>


