<div class="container-fluid text-center contactando">

<!-- <div class="container-fluid bannercontacto">

</div> -->


<h1> Contacto </h1>

<br>

<p> Propuestas de proyectos, solicitudes de prensa, consultas generales. </p>


<h3> marco_donayre@hotmail.com </h3>

<br>
<p>Precios para pinturas de edición limitada, retratos por encargo<p>

<br>

<h3>Medios de Comunicación Social</h3>

<p>Facebook: @marcodonayre</p>

<p>Youtube: Marco Donayre</p>

<p>Instagram: @marcodonayre</p>

<p>Twitter: @marcodonayre</p>


<div class="socialmedias">
   <a href="https://www.facebook.com/donayremarco/"><%= image_tag "f.png", height: 50 %></i></a>
    <a href="https://www.instagram.com/donayre.marco/"><%= image_tag "i.png", height: 50 %></a>
    <a href="#"><%= image_tag "t.png", height: 50 %></a>
    <a href="#"><%= image_tag "l.png", height: 50 %></a>
  </div>

<br>

<script src="//www.powr.io/powr.js?external-type=html"></script>
 <div class="powr-contact-form" id="d2b79189_1553043875"></div>
</div>
