
<div class="video-container">
<%= video_tag(["marco.mov"], :autoplay => true, :loop => true, :controls => false, muted: true) %>
</div>

<div class="container primerapagina">
<h2> En la quietud del momento PRESENTE, donde fluye TODO MI SER, puedo sentir LA PAZ, EL AMOR, LA COMPASIÓN, LA POSIBILIDAD DE CREAR. Y es en este nivel de CONCIENCIA, donde EL ARTISTA MULTIDIMENSIONAL emerge dentro de mí, para expresarse LIBREMENTE a través del ARTE Y LA PINTURA. </h2>

<h3> - Marco Donayre </h3>
</div>

<!-- <div class="bannermarco2">
</div> -->

<div class="container youtubevideos">
 <div class="row">

  <div class="col-sm-4">

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SN93eNtBN88?rel=0" allowfullscreen></iframe>
</div>
<p> "Discurso de Inaguracion" </p>
</div>

 <div class="col-sm-4">
<div class="embed-responsive embed-responsive-16by9">
 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RGIiCKZMY8E?=rel=0" allowfullscreen></iframe>
</div>
<p> "Peru Eterno" </p>
</div>

 <div class="col-sm-4">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AvCbS1fHB64?=rel=0" allowfullscreen></iframe>
</div>
<p> "Exposicion Pasion y Fuerza" </p>
</div>
</div>
</div>


<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!--
<div class="jumbotron text-center" style="margin-bottom:0; background-color: #FBFCFF;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Estilos</h1>
          <hr class="my-4">
          <div align="center">
            <button class="btn btn-primary active filter-button" data-filter="todo">Todo</button>
            <button class="btn btn-primary filter-button" data-filter="retratos">Retratos</button>
            <button class="btn btn-primary filter-button" data-filter="paisajes">Paisajes</button>
            <button class="btn btn-primary filter-button" data-filter="disenos">Oleo</button>

            <div class="row">
              <div class="row">
                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter retratos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery" >
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Retratos">
                          </a>
                      </div>
                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter retratos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Retratos">
                          </a>
                      </div>


                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter paisajes">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Retratos">
                          </a>
                      </div>

                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter disenos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Retratos">
                          </a>
                      </div>


                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter paisajes">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Retratos">
                          </a>
                      </div>

                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter retratos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Retratos">
                          </a>
                      </div>

                       <div class="col-lg-3 col-md-4 col-xs-6 thumb filter retratos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Retratos">
                          </a>
                      </div>



                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter paisajes">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Retratos">
                          </a>
                      </div>
                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter paisajes">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="https://images.pexels.com/photos/1563286/pexels-photo-1563286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                             data-target="/assets/marco1.jpg">
                              <img class="img-thumbnail"
                                   src="/assets/marco1.jpg"
                                   alt="Paisaje">
                          </a>
                      </div>
                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter disenos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/oleo1.jpg"
                                   alt="Paisaje">
                          </a>
                      </div>
                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter disenos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/oleo2.jpg"
                                   alt="Paisaje">
                          </a>
                      </div>
                      <div class="col-lg-3 col-md-4 col-xs-6 thumb filter disenos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/oleo3.jpg"
                                   alt="Paisaje">
                          </a>
                      </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb filter disenos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/oleo4.jpg"
                                   alt="Paisaje">
                          </a>
                      </div>
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb filter disenos">
                          <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                             data-image="/assets/marco1.jpg"
                             data-target="#image-gallery">
                              <img class="img-thumbnail"
                                   src="/assets/oleo 5.jpg"
                                   alt="Paisaje">
                          </a>
                      </div>
                  </div>

                  <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h4 class="modal-title" id="image-gallery-title"></h4>
                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                                  </button>

                                  <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->
