<h1>HOME</h1>

<section class="fullsize-video-bg">
  <div class="inner">
    <div>
      <h1>Responsive Background Video</h1>
      <p>with color and dot-grid overlay
    </div>
  </div>
  <div id="video-viewport">
    <video width="1920" height="1280" autoplay muted loop>
      <source src="https://storage.googleapis.com/coverr-main/mp4/Winter-Grass.mp4" type="video/mp4" />
      <source src="https://storage.googleapis.com/coverr-main/webm/Winter-Grass.webm" type="video/webm" />
    </video>
  </div>
</section>
