// Place all the styles related to the Inboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inbox{
margin-bottom:15%;
}


.inbox2{
  margin-top: 5%;
}

.messagesent{
  margin-top: 5%;
  margin-bottom: 20%;
}

.enviadotitulo{
margin-top: 2%;
margin-bottom: 2%;
}
